{% extends "base.html" %}

{% block body %}schedule{% endblock %}

{% block content %}

    <div class="section">
        <p>Transparency Camp is an "unconference", which means that participants set the agenda, lead sessions, and drive the dialogue. Although we’ll give you opportunities to brainstorm and share ideas for sessions ahead of time, most of the schedule will be set during the event itself. So, when you attend, be sure to bring along some ideas for what you’d like to talk about!</p>
        <p>To get a sense of what sessions and agenda from last year, check out the Transparency Camp 2011 schedule listed below. Look out for another like it for your ideas for TCamp 2012 soon!</p>
    </div>

    <h2>2011 Schedule</h2>
        
    {% regroup object_list by date as date_list %}
    
    {% for date in date_list %}
    
        <div class="date-group">
    
            <h3 class="grouper">{{ date.grouper|date:"l, F d" }}</h3>
    
            {% regroup date.list by start_time as time_list %}
        
            {% for time in time_list %}
            
                <div class="time-group">
        
                    <h4 class="grouper">{{ time.grouper|time:"g:i a" }}</h4>
            
                    <ul class="sessions">
                        {% for session in time.list %}
                            <li><a href="/sessions/{{ session.pk }}/">{{ session }}</a> <small>{{ session.location }}</small></li>
                        {% endfor %}
                    </ul>
                
                </div>
        
            {% endfor %}
        
        </div>
    
    {% endfor %}
        
{% endblock %}
