{% extends "base.html" %}
{% load markup %}

{% block body %}schedule{% endblock %}

{% block content %}
    
    {% with object.article.versions.latest as wiki %}
        <article class="session">
            <header>
                <h1>{{ object.title }}</h1>
                <dl>
                    <dt>When</dt>
                    <dd>
                        <time datetime="{{ object.date.isoformat }}">{{ object.date|date:"l" }}</time>,
                        <time datetime="{{ object.start_time.isoformat }}">{{ object.start_time }}</time>
                        {% if object.end_time %}
                            &mdash; <time datetime="{{ object.end_time.isoformat }}">{{ object.end_time }}</time>
                        {% endif %}
                    </dd>
                    <dt>Where</dt>
                    <dd>{{ object.location }}</dd>
                    {% if object.organized_by %}
                        <dt>Organized by</dt>
                        <dd>{{ object.organized_by }}</dd>
                    {% endif %}
                </dl>
            </header>
            <div class="details">
                {{ object.description|markdown }}
            </div>
            {% if object.has_wiki %}
                <p>
                    <a href="http://pad.transparencycamps.org/p/{{ object.slug }}">Edit wiki</a>
                </p>
            {% endif %}
        </article>
    {% endwith %}
    
{% endblock %}
