<!doctype html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!-- Appcache Facts http://appcachefacts.info/ -->
<!--[if IEMobile 7 ]>        <html class="no-js iem7" manifest="cache.manifest?v=1"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" manifest="cache.manifest?v=1"> <!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>TransparencyCamp 2011</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Home screen icon    Mathias Bynens http://goo.gl/6nVq0 -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="img/l/apple-touch-icon.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="img/l/splash.png">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="js/libs/modernizr-custom.js"></script>
</head>

<body>

    <div id="container">
        
        <header role="banner">
            <h1><a href="#" class="nav">Transparency Camp</a></h1>
            <nav>
                <ul>
                    <li><a href="#updates" class="nav">Updates</a></li>
                    <li><a href="#sessions" class="nav">Sessions</a></li>
                    <li><a href="#venue" class="nav">Venue</a></li>
                    <li><a href="#social" class="nav">Social</a></li>
                </ul>
            </nav>
        </header>

        <div id="main" role="main">

            <div class="panel" id="panel-dashboard">
                
                <p class="flickr">
                    <a href="http://www.flickr.com/groups/transparencycamp/" target="_blank">
                        <img src="img/placeholder_75x75px.png">
                    </a>
                    <a href="http://www.flickr.com/groups/transparencycamp/" target="_blank">
                        <img src="img/placeholder_75x75px.png">
                    </a>
                    <a href="http://www.flickr.com/groups/transparencycamp/" target="_blank">
                        <img src="img/placeholder_75x75px.png">
                    </a>
                    <a href="http://www.flickr.com/groups/transparencycamp/" target="_blank">
                        <img src="img/placeholder_75x75px.png">
                    </a>
                </p>
                
                <div class="next-sessions"></div>
                    
            </div>    

            <div class="panel" id="panel-updates">
                <h2>Updates from <b>@tcampdc</b></h2>
                <ul class="updates datalist"></ul>
            </div>

            <div class="panel" id="panel-social">
                <h2><b>#tcamp11</b> Tweets</h2>
                <ul class="social datalist"></ul>
            </div>

            <div class="panel" id="panel-venue">
                <h2>7th Floor Map</h2>
                <p>Click on the map to view a larger version.</p>
                <a href="img/map-lg.png" target="_blank"><img src="img/map-sm.png" alt="map of transparency camp venue"></a>
            </div>

            <div class="panel" id="panel-sessions">
                <p class="tip">Showing today's sessions. <a href="http://transparencycamp.org/sessions/" target="_blank">View the full schedule</a>.</p>
                <div class="sessions-container">
                </div>
            </div>
            
        </div>

        <footer role="contentinfo">
            <p>Brought to you by the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a></p>
        </footer>
    </div>
    
    <script type="text/template" id="template-photo">
        <img src="<%= url_square %>" alt="<%= title %> from Flickr">
    </script>

    <script type="text/template" id="template-update">
        <p><%= content %></p>
        <small><%= pubdate %></small>
    </script>

    <script type="text/template" id="template-social">
        <p>
            <span class="cite"><%= user.screen_name %></span>
            <a href="http://twitter.com/<%= user.screen_name %>">
                <img src="<%= user.avatar_url %>" alt="avatar image" class="avatar">
            </a>
            <%= content %>
        </p>
        <small><a href="http://twitter.com/<%= user.screen_name %>/status/<%= twitter_id %>"><%= pubdate %></a></small>
    </script>
    
    <script type="text/template" id="template-sessions">
        <% if (sessions.length === 0) { %>
            <h2>No more sessions today!</h2>
            <p class="nosessions">
                How about a dancing panda instead?
                <img src="img/dancingpanda.gif" alt="a panda doing a fancy dance"> 
            </p>
        <% } else { %>
            <% _.each(sessions, function(day) { %>
                <h2><%= day.dateStr %></h2>
                <% _.each(day.slots, function(slot) { %>
                    <h3><%= slot.timeStr %></h3>
                    <ul class="sessions datalist">
                        <% _.each(slot.sessions, function(session) { %>
                            <li>
                                <a href="<%= session.url %>"><%= session.title %></a>
                                <small><%= session.location %></small>
                            </li>
                        <% }); %>
                    </ul>
                <% }); %>
            <% }); %>
        <% } %>
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>

    <!-- scripts concatenated and minified via ant build script -->
    <script src="js/libs/helper.js"></script>
    <script src="js/libs/json2.js"></script>
    <script src="js/libs/store-min.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    <script src="js/script.js"></script>
    <!-- end concatenated and minified scripts-->

    <script>
        MBP.scaleFix();
        yepnope({
            test : Modernizr.mq('(min-width)'),
            nope : ['js/libs/respond.min.js']
        });
    </script>

    <script>
        var _gaq=[["_setAccount","UA-1265484-33"],["_trackPageview"]];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>

</body>
</html>
