Django==1.4
django-debug-toolbar
django-template-repl
slimmer
python-postmark
django-tastypie
django-social-auth
django-storages
django_compressor
python-dateutil==1.5
pytz
akismet

markdown
-e git://github.com/drinks/django-markupfield.git#egg=markupfield
-e git://github.com/sunlightlabs/django-markupwiki.git#egg=markupwiki

python-openid
-e git://github.com/jcarbaugh/django-googleauth.git#egg=googleauth

gunicorn
