{% extends subsite.theme %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "brainstorm/scoped-bootstrap-form.css" %}">
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static "brainstorm/app.js" %}"></script>
{% if BRAINSTORM_USE_DISQUS %}
 <script type="text/javascript">
    var disqus_shortname = '{{ DISQUS_SHORTNAME }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="brainstorm-idea brainstorm-detail clearfix">
    {% include "brainstorm/partials/idea_vote.html" %}
    {% if BRAINSTORM_USE_DISQUS %}
    <div id="disqus_thread"></div>
    {% endif %}
</div>
{% endblock content %}
