{% extends "base.html" %}

{% block body %}community donate{% endblock %}

{% block content %}

    <h2>Support Transparency Camp 2012</h2>
    
    <p>At its core, Transparency Camp is about bringing the broader open government community together to share best practices, innovate, and collaborate. To facilitate this openness, we’ve been committed to making sure that the barriers to participation are as low as possible. That’s why we provide our registration at a low price, and why we started our TCamp Scholarship program.</p>

    <p>All across the country and the world, transparency advocates are working towards securing and implementing open government and open data at all levels of government. For many, this work is a labor of love that doesn’t provide much in the way of financial compensation. That’s where our TCamp Scholarship program kicks in. <b>TCamp Scholars are exceptional people -- maybe even people like yourself -- who are working in the broad field of government transparency but may not have the means to make it all the way out to DC for Camp on their own. To make it easier for these folks to bring their work into the light (so to speak) and connect and share with other Campers, we offer partial compensation for travel or accommodation.</b></p>

    <p><a href="http://sunlightfoundation.com/blog/2011/06/03/meet-the-transparencycamp-scholars/">Our first class of scholars</a> brought eleven opengov advocates -- journalists, developers, activists, and others -- to DC from places as diverse as Oak Park, Illinois, Chelsea, Alabama, and San Juan, Puerto Rico. For many, it was their first unconference, but you wouldn’t know it. Scholars gave lightning talks, lead sessions, made connections (for themselves and others) and drove conversations. They’ve even continued to trail blaze post-Camp: Jason Williams played a crucial role in a transparency working group reviewing an open records law in his home state, Utah, and keep your eyes peeled for a project Tamar Gurchiani, a Georgian national who came to TCamp by way of Williamsburg, Virginia, is leading this spring: Transparency Camp Georgia (the country).</p>

    <p>You can help us bring new talent and new leaders to Transparency Camp this year. Any contributions you make through <a href="http://tcamp12.eventbrite.com/">the Super Camper field on our registration page</a> will go towards travel scholarships for exceptional people, people doing amazing work in their community but would otherwise be unable to attend. Help make someone’s day. Click here to donate to our scholarship fund. (<a href="http://organizing.sunlightfoundation.com/page/s/tcamp12-scholarship-application">To apply for a scholarship, click here</a>.)</p> 

    <p>Any donations you make through this page will go exclusively to a scholarship fund that will help defray the cost of attending Transparency Camp for someone that is doing awesome work in their community, but otherwise wouldn't be able to attend.</p>

    <p class="bq">“I’m glad I went to transparency camp,” Scholar Tracy Dingmann wrote in a follow-up blogpost. “Not only did I renew my passion for open and transparent government – I picked up a whole new panopoly (okay, I am a nerd) of new tools and resources to get public information and put it where it belongs – in front of you.”</p> 
    <p class="donate-btn"><a class="btn" href="http://tcamp12.eventbrite.com/">Donate by registering as a Super Camper</a></p>

    {% comment %}
        <div id="donate">
            <script type="text/javascript"> 
            function validateAmount(amount){
            	if(amount.value.match( /^[0-9]+(\.([0-9]+))?$/)){
            		return true;
            	}else{
            		alert('You must enter a valid donation.');
            		amount.focus();
            		return false;
            	}
            }
            </script>
            <form action="https://checkout.google.com/cws/v2/Donations/548702786961191/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" onSubmit="return validateAmount(this.item_price_1)" target="_top">
                <input name="item_name_1" type="hidden" value="TransparencyCamp 2011 scholarships"/>
                <input name="item_description_1" type="hidden" value="Donations for TCamp '11 stipends"/>
                <input name="item_quantity_1" type="hidden" value="1"/>
                <input name="item_currency_1" type="hidden" value="USD"/>
                <input name="item_is_modifiable_1" type="hidden" value="true"/>
                <input name="item_min_price_1" type="hidden" value="0.01"/>
                <input name="item_max_price_1" type="hidden" value="25000.0"/>
                <input name="_charset_" type="hidden" value="utf-8"/>
                <table cellpadding="5" cellspacing="0" width="1%">
                    <tr>
                        <td align="right" nowrap="nowrap" width="1%">&#x24; <input id="item_price_1" name="item_price_1" onfocus="this.style.color='black'; this.value='';" size="6" type="text" value="25.00"/>
                        </td>
                        <td align="left" width="1%">
                            <input id="donateBtn" alt="Donate" src="https://checkout.google.com/buttons/donateNow.gif?merchant_id=548702786961191&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    {% endcomment %}

{% endblock %}

{% block sponsors %}
    
    <div class="section">
        <a class="btn" href="http://organizing.sunlightfoundation.com/page/s/tcamp12-scholarship-application">Apply for a Scholarship</a>
    </div>
    
{% endblock %}
