{% extends "base.html" %}

{% block body %}hackathon{% endblock %}

{% block content %}

    <h2>Hack for Good!</h2>
    <h3>Join us at the VIP Hackathon on April 30, 2012!</h3>

    <img src="http://assets.sunlightfoundation.com/files/VIP%20Hackathon/VIPLogoBox_Small.jpg" class="viplogo">

    <p>For years, high quality information about one of our democracy’s most critical activities has been nearly impossible to come by -- that is, until the <a href="http://votinginfoproject.org/">Voting Information Project</a> (VIP) was born. The Pew Center on the States launched this initiative in 2008 to become the 21st century transmission line between election offices and voters. VIP answers voters’ most common questions -- things like “where do I vote?”, “who is on my ballot?”, and “how do I navigate the voting process?” -- by making official information available in the places where voters are looking for it, whether online or on their mobile devices.</p>

    <p>Now, in this hot-button election year, Pew and their partners at Microsoft, Google, and AT&amp;T are inviting you to roll up your sleeves and help make a difference. <b>On April 30, 2012, join Pew, Microsoft, the Sunlight Foundation, and many others as we unleash the potential of this amazing and timely collection of civic data.</b></p>

    <p>What tools do you need to be a better citizen? What app would get your friends out to the voting booth? What data would benefit your local board of elections? Come mash, hack, and mindmeld with other civic hackers and problem-solve these and other exciting questions.</p>

    <p>For more information on the Voting Information Project, <a href="http://votinginfoproject.org/">head here</a> or check out the video below. Itching to get started? <a href="http://viphackathon.eventbrite.com/">Register now!</a></p>

    <p><iframe width="500" height="284" src="http://www.youtube.com/embed/Th7VJoRqAzI" frameborder="0" allowfullscreen></iframe></p>

{% endblock %}

{% block sidebar %}
    <div id="rtColumn">
        <div class="section">
            <a class="btn" href="http://viphackathon.eventbrite.com/" id="register-hackathon">Register for the <span>VIP Hackathon</span></a>
        </div>
        <div class="section">
            <h4>Relevant links</h4>
            <ul>
                <li><a href="http://www.votinginfoproject.org">Voting Information Project</a></li>
                <li><a href="http://github.com/votinginfoproject">VIP GitHub</a></li>
                <li><a href="http://prodvip.blob.core.windows.net/publicvip/VipServiceDoc.htm">Microsoft API Documentation</a></li>
                <li>Hackathon wiki</li>
            </ul>
        </div>
    </div>
{% endblock %}
