{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="shortlink" href="http://snlg.ht/tcampdc">
{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">
    .align-center { text-align:center; }
    #callOut strong { font-weight: bold; }
</style>
{% endblock %}

{% block feature %}
    <div id="featureArea" class="vevent">
        <iframe width="490" height="279" src="http://www.youtube.com/embed/F3751eA22HY" frameborder="0" allowfullscreen></iframe>
        <!-- <img src="{% static "images/headerImages2.png" %}" alt="Photos from previous transparency talks"> -->
    	<div id="featureText">
    	    <h2 class="summary">Transparency Camp 2013</h2>
            <div class="details">
                <span class="dt">
                    <abbr class="dtstart" title="2012-05-04">May 4</abbr> - <abbr class="dtend" title="2012-05-05">5</abbr>
                </span>
                Washington, DC
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content %}

    {% if next.sessions %}
        <div class="upnext">
            <h2>Coming up next at {{ next.time }} ...</h2>
            <ol>
                {% for session in next.sessions %}
                    <li>
                        <span class="sessionTitle">
                            <a href="{% url session_detail session.pk %}">{{ session.title }}</a>
                        </span>
                        <span class="location">{{ session.location }}</span>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}

    <div class="section">

        <div id="callOut">
            <h3>TransparencyCamp Returns!</h3>
            <p>Get ready: This May, TransparencyCamp is coming back&mdash;and we want to see you there! Please join the Sunlight Foundation and the George Washington University School of Media and Public Affairs at the Marvin Center, centrally located on campus at George Washington University in Washington DC, May 4-5, 2013.</p>
            <p><a href="https://tcamp13.eventbrite.com" class="btn">Register Now</a></p>
            <p class="align-center"><strong>Early bird prices are available from now through March 1, 2013.</strong></p>
        </div>

        <p><b>TransparencyCamp</b> is an "unconference" for opengov: an event where, each year, journalists, developers, technologists, policy-makers, government officials, students, academics, wonks, and everyone in between gather to share their knowledge about how to use new technologies and policies to make our government really work for the people -- and to help our people work smarter with our government.</p>

        <p>As an "unconference," TransparencyCamp emphasizes the important contributions that each and every attendee brings with them into the sessions, workshops, and conversations associated with this event. In fact, attendees (yes, all of them) are brought into the process of making <a href="/schedule/">the schedule for the conference</a> with the organizers and are encouraged to step up and lead sessions themselves. (Check out our 2012 Recap video above to get a better sense of what we mean.)</p>

        <p>We've seen a lot of productive, amazing results from TCamp in years past: US-based TCamp attendees have started unique, globally recognized initiatives, including <a href="http://citycamp.govfresh.com/">CityCamp</a> and <a href="http://crisiscommons.org/">CrisisCommons</a>, and our international guests have gone on to <a href="http://sunlightfoundation.com/blog/2011/11/22/transparencycamp-georgia-the-country/">organize TCamps in their own countries</a>.</p>

        <div class="clear"></div>
    </div>

    <div class="section">
        <h2>TransparencyCamp 2012 Recap</h2>
        <p>On april 28th and 29th, 2012, more than 400 attendees from 27 countries and 26 states came together in Arlington, Virginia to build the community and share ideas that will shape the open government movement for years to come. It was an incredible experience and we've been <a href="http://sunlightfoundation.com/blog/2012/05/04/transparencycamp-2012-reflections-next-steps-and-thanks/">blogging</a> about the results from this event as they happen. Follow along on the <a href="http://sunlightfoundation.com/blog/">Sunlight Foundation blog</a>.</p>
        <p><a href="#">Watch the video recap at the top of the page &uarr;</a>.</p>
        {# <iframe src="http://www.youtube.com/embed/F3751eA22HY" frameborder="0" width="530" height="299" allowfullscreen></iframe> #}
        <div id="flickrContent">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=5&amp;display=latest&amp;size=s&amp;layout=x&amp;source=all_tag&amp;tag=tcamp12"></script>
        </div>
        <div class="clear"></div>
        <p>Join the <a href="http://www.flickr.com/groups/tcamp2012/">TransparencyCamp 2012 Flickr group</a>.</p>
    </div>

    <div class="section">
        <h2>TransparencyCamp 2011 Recap</h2>
        <iframe width="530" height="299" src="http://www.youtube.com/embed/mb9jhYweZI8" frameborder="0" allowfullscreen></iframe>
        <div id="flickrContent">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=5&amp;display=latest&amp;size=s&amp;layout=x&amp;source=all_tag&amp;tag=tcamp11"></script>
        </div>
        <div class="clear"></div>
        <p>Join the <a href="http://www.flickr.com/groups/tcamp2011/">TransparencyCamp 2011 Flickr group</a>.</p>
    </div>

    <div class="section">
        <h2>TransparencyCamp 2010 Recap</h2>
        <iframe width="530" height="299" src="http://www.youtube.com/embed/sHiGGluSzyE" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="section share">

        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://transparencycamp.org/" data-text="Join us for #TCamp13 in Washington DC, May 4-5, 2013 @ George Washington University" data-count="horizontal" data-via="TCampDC">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftransparencycamp.org%2F&amp;layout=standard&amp;show_faces=false&amp;width=400&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:35px;" allowTransparency="true"></iframe>

    </div>

{% endblock %}

{% block register %}{% endblock %}

{% block sponsors %}
    <div class="section" id="sponsorSidebar">

        {% comment %}
        <div id="donateAsk" class="section">
            <p>Make a donation to our scholarship fund to help with the cost of camp for someone who would otherwise not be able to attend.</p>
            <a class="btn" href="/donate/">Help send someone to TransparencyCamp 2012</a>
            <!--
            <p style="margin: 1.5em 0 1em;">Itching to attend TransparencyCamp, but need some assistance? <a href="http://local.publicequalsonline.com/page/s/TCamp11_Travel_Scholarship_Application" style="display: block;">Apply for a scholarship.</a></p>
            -->
        </div>
        {% endcomment %}

        <h3 class="centerTitle">2013 sponsors</h3>
        <ul id="sponsor_sideList">
            <li><a href="http://smpa.gwu.edu/" rel="nofollow external"><img src="{% static "images/sponsors/smpa_sm.png" %}" alt="The George Washington University School of Media and Public Affairs"></a></li>
        </ul>
        <div class="clear"></div>
        <a class="viewMore" href="/sponsors">View all of our gracious sponsors »</a>
    </div>
{% endblock %}