{% extends "base.html" %}

{% block body %}schedule{% endblock %}

{% block css %}
    <style>
        div#ltColumn { width: 840px; }
    </style>
{% endblock %}

{% block content %}

    <h2>Live from TransparencyCamp</h2>

    <div id="donateAsk" style="float: right; width: 250px;">
		<p>For the first time ever at TransparencyCamp, we will be broadcasting select sessions live! Several other sessions will be recorded and posted online once the conference is over. Follow <a href="http://twitter.com/#!/tcampdc">@tcampdc</a> on Twitter for the latest updates.</p>
	</div>

    <iframe width="480" height="296" src="http://www.ustream.tv/embed/10985205" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>

{% endblock %}

{% block sidebar %}{% endblock %}



