{% extends "base.html" %}

{% block body %}schedule{% endblock %}

{% block css %}
    <style>
        div#ltColumn { width: 840px; }
    </style>
{% endblock %}

{% block content %}

    <h2>Live from Transparency Camp</h2>

    <div id="donateAsk" style="float: right; width: 250px;">
		<p>For the first time ever at TransparencyCamp, we will be broadcasting select sessions live! Several other sessions will be recorded and posted online once the conference is over. Follow <a href="http://twitter.com/#!/tcampdc">@tcampdc</a> on Twitter for the latest updates.</p>
	</div>

    <iframe width="560" height="340" src="http://cdn.livestream.com/embed/transparencycamp2011?layout=4&amp;color=0xe7e7e7&amp;autoPlay=false&amp;mute=false&amp;iconColorOver=0x888888&amp;iconColor=0x777777&amp;allowchat=true" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe><div style="font-size:11px;padding-top:10px;text-align:center;width:560px">Watch <a href=http://www.livestream.com/?utm_source=lsplayer&amp;utm_medium=embed&amp;utm_campaign=footerlinks title=live streaming video>live streaming video</a> from <a href=http://www.livestream.com/transparencycamp2011?utm_source=lsplayer&amp;utm_medium=embed&amp;utm_campaign=footerlinks title=Watch transparencycamp2011 at livestream.com>transparencycamp2011</a> at livestream.com</div>

{% endblock %}

{% block sidebar %}{% endblock %}



