{% extends "base.html" %}

{% block body %}logistics{% endblock %}

{% block content %}

    <h2>The Deal</h2>

    <p>TCamp is a come-as-you-are environment. If that means jeans, sandals, ties, or pearls to you, then so be it. The rest of us will be casual (or possibly in bear suits). We care more about the substance of what you have to say than what you wear while saying it.</p>

    <h2>Eats</h2>

    <p>We provide you with coffee, breakfast, lunch, and snacks for both Saturday and Sunday, plus an awesome happy hour in the middle. Expect to eat well, whether you’re an omnivore, herbivore or gluten-free-ivore.</p>

    <h2>Where is Transparency Camp?</h2>

    <h3>Founders Hall, George Mason University</h3>
    <p><a href="http://g.co/maps/v8ncv" title="Google Maps">3351 Fairfax Drive, Arlington, VA</a></p>
    
    <div id="map"></div>

    {% comment %}

    <h2>When do I need to get there?</h2>
    
    <p><a href="/sessions/2/">Registration and coffee</a> will start at 9am on Saturday, April 30th. The <a href="/sessions/2/">Opening Session</a> starts at 10am -- don’t miss it!</p>
    
    <h2>What should I bring?</h2>
    
    <p>
        Please help us keep Transparency Camp as green as possible by bringing a water bottle and/or coffee mug to help keep waste down.
        Power strips and chargers for your computer, phone, etc. are also never bad ideas.
        If you’re planning to use a projector during a presentation, please bring your own <em>VGA adaptor</em>.
        Every room will have a projector, but we can’t promise we’ll have the right adaptors for your computer.
        If you need to purchase an adaptor, there is an <a href="http://goo.gl/maps/2v9j">Apple Store</a> near the Bethesda Metro station and a <a href="http://goo.gl/maps/1WfY">Best Buy</a> at the Tenleytown-AU Metro station.
    </p>
    
    <h2>What should I wear?</h2>
    
    <p>
        Check the <a href="http://www.washingtonpost.com/blogs/capital-weather-gang">Capitol Weather Gang blog</a> for the latest weather conditions.
        Dress for the Camp is casual -- just be comfortable.
    </p>
    
    <h2>Will there be internet?</h2>
    
    <p>Yes, we'll have wireless provided. Cell phone reception inside the building isn’t great, though.</p>

    {% endcomment %}

{% endblock %}

{% block js %}

    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;v=3.2"></script>
    <script>
        var map;
        $(document).ready(function() {
            var loc = new google.maps.LatLng(38.88499, -77.10109);
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: loc,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var marker = new google.maps.Marker({
                position: loc, 
                map: map, 
                title: "Microsoft"
            });
        });
    </script>

{% endblock %}
