{% extends "base.html" %}
{% load media %}

<body class="{% block body %}sponsors{% endblock %}">

{% block content %}
    <h2>2012 Sponsors</h2>
    <div id="callOut">
        <h3>Want to become a sponsor?</h3>
        <p>For more information please <a href="/sponsors/info/">click here</a> or contact Chris McCleary at <a href="mailto:cmccleary@sunlightfoundation.com">cmccleary@sunlightfoundation.com</a></p>
    </div> 
    <div id="fullSponsors">
        <ul class="sponsorsList">
            <li><a href="http://policy.gmu.edu/"><img src="{% media_url "images/sponsors/gmupolicy.png" %}" alt="GMU School of Public Policy"></a></li>
        </ul>
    	<div class="clear"></div>
        <ul class="sponsorsList">
            <li><a href="http://www.azavea.com/"><img src="{% media_url "images/sponsors/azavea.png" %}" alt="Azavea"></a></li>
            <li><a href="http://www.forumone.com/"><img src="{% media_url "images/sponsors/forumone.png" %}" alt="Forum One Communications"></a></li>
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}