{% extends "base.html" %}
{% load staticfiles %}

<body class="{% block body %}sponsors{% endblock %}">

{% block css %}
{{ block.super }}
<style type="text/css">
    ul.sponsorsList li {
        text-align:center;
    }
</style>
{% endblock %}

{% block content %}
    <h2>2012 Sponsors</h2>
    <div id="callOut">
        <h3>Want to become a sponsor?</h3>
        <p>For more information please <a href="/sponsors/info/">click here</a> or contact Chris McCleary at <a href="mailto:cmccleary@sunlightfoundation.com">cmccleary@sunlightfoundation.com</a></p>
    </div>
    <div id="fullSponsors">
        <ul class="sponsorsList">
            <li><a href="http://smpa.gwu.edu/" rel="nofollow external"><img src="{% static "images/sponsors/smpa.png" %}" alt="The George Washington University School of Media and Public Affairs"></a></li>
        </ul>
    	<div class="clear"></div>
        {% comment %}
        <ul class="sponsorsList">
            <li><a href="http://www.azavea.com/"><img src="{% static "images/sponsors/azavea.png" %}" alt="Azavea"></a></li>
            <li><a href="http://cgifederal.com/"><img src="{% static "images/sponsors/cgi.png" %}" alt="CGI Federal"></a></li>
            <li><a href="http://www.forumone.com/"><img src="{% static "images/sponsors/forumone.png" %}" alt="Forum One Communications"></a></li>
            <li><a href="http://www.ideavibes.com/"><img src="{% static "images/sponsors/ideavibes.png" %}" alt="Ideavibes"></a></li>
            <li><a href="http://www.microsoft.com/"><img src="{% static "images/sponsors/microsoft.png" %}" alt="Microsoft"></a></li>
            <li><a href="http://www.uscongresshandbook.com"><img src="{% static "images/sponsors/usch.png" %}" alt="US Congress Handbook"></a></li>
        </ul>
        {% endcomment %}
        <div class="clear"></div>
        {% comment %}
        <ul class="sponsorsList">
            <li><a href="http://www.istrategylabs.com/"><img src="{% static "images/sponsors/isl.png" %}" alt="iStrategy Labs"></a></li>
        </ul>
        {% endcomment %}
        <div class="clear"></div>

    </div>
{% endblock %}