{% extends "base.html" %}

<body class="{% block body %}sponsors{% endblock %}">

{% block content %}
    <h2>Sponsors</h2>
    <div id="fullSponsors">
        <ul class="sponsorsList">
            <li id="microsoft"><a href="http://www.microsoft.com/">Microsoft</a></li>
        </ul>
        <div class="clear"></div>
        <ul class="sponsorsList">
            <li id="google"><a href="http://www.google.com">Google</a></li>
            <li id="oreilly"><a href="http://oreilly.com/">O'Reilly</a></li>
            <li id="governing"><a href="http://www.governing.com/">Governing</a></li>
        </ul>
        <div class="clear"></div>
        <ul class="sponsorsList">
            <li id="adobe"><a href="http://www.adobe.com/">Adobe</a></li>
    		<li id="forumone"><a href="http://www.forumone.com/">Forum One Communications</a></li>
    	</ul>
    	<div class="clear"></div>
    </div>
{% endblock %}