{% extends "base.html" %}
{% load media %}

<body class="{% block body %}sponsors{% endblock %}">

{% block content %}
    
    <h2>Why Sponsor TransparencyCamp?</h2>

    <article class="session">

        <p>Sunlight Foundation’s annual TransparencyCamp (TCamp) is the premier event for technologists, government officials, journalists, policy-makers, students and impassioned citizens from across the country and around the world to discuss and share new approaches, technologies and policy prescriptions to make government more open, transparent and accountable.</p>
        <p>This two-day event is organized as an “unconference” and emphasizes the important contributions that each and every attendee can bring to the sessions, workshops, and conversations. In fact, attendees help determine the schedule for the conference and are encouraged to suggest and lead sessions themselves. Bringing together hundreds of creative innovators, leaders and change-makers, TransparencyCamp has been the spark for a lot of new ideas, collaborations and initiatives such as CityCamp, CrisisCommons, numerous local open government initiatives and international TransparencyCamps.</p>
        <p>Your sponsorship helps support this unique gathering and demonstrates your commitment to open government to our motivated attendees.  Check out our <a href="http://snlg.ht/tcamp11video">highlight video from TransparencyCamp 2011</a>.</p>
        
        <h3>Sponsorship Tiers</h3>

        <h4>Sponsor: $5,000</h4>
        <ul>
            <li>Special designation as Conference Sponsor</li>
            <li>Special mention at the opening and closing sessions</li>
            <li>Prominent display of your logo at Registration and throughout the conference and acknowledgement on the TransparencyCamp website and in emails and tweets</li>
            <li>Opportunity to display or distribute your promotional materials at Registration and at the TCamp “Store” throughout the conference</li>
        </ul>

     
        <h4>Patron: $2,500</h4>
        <ul>
            <li>Special designation as a Happy Hour sponsor and opportunity for branding at the happy hour venue</li>
            <li>Display of your logo at Registration and throughout the conference and acknowledgement on the TransparencyCamp website and in emails and tweets</li>
            <li>Opportunity to display or distribute your promotional materials at the TCamp “Store” throughout the conference</li>
        </ul>
     
        <h4>Supporter: $1,000</h4>
        <ul>
            <li>Special designation as TransparencyCamp Scholarship sponsor: helping bring exceptional people to TCamp who may not have the means to attend otherwise</li>
            <li>Display of your logo at Registration and throughout the conference and acknowledgement on the TransparencyCamp website and in emails and tweets</li>
        </ul>

    </article>

    <div id="callOut">
        <p>For more information, contact: Chris McCleary: <a href="mailto:cmccleary@sunlightfoundation.com">cmccleary@sunlightfoundation.com</a> / 202-742-1520 x270</p>
    </div> 

{% endblock %}